# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ext4recovery_rmk/.vs/ext4recovery_rmk/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.dsk
*.docx
*.ilk
*.pdb
*.TXT
*.log
*.recipe
*.tlog
*.idb
*.vcxproj
*.filters
*.user
*.jpg
ext4recovery_rmk/Debug/AUTHORS
ext4recovery_rmk/Debug/COPYING
ext4recovery_rmk/Debug/README
ext4recovery_rmk/Debug/signatures.dblite
ext4recovery_rmk/Debug/Sqliteman-1.2.2/AUTHORS
ext4recovery_rmk/Debug/Sqliteman-1.2.2/COPYING
ext4recovery_rmk/Debug/Sqliteman-1.2.2/README
*.dblite
*.sql
ext4recovery_rmk/Debug/Sqliteman-1.2.2/1
*.7z
